<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<footer class="footer pt20">
	      <section class="container">
	        <div class="row mb0">
	          <div class="col s12">
	            <p class="text small mb0">JUNJI - Junta Nacional de Jardines Infantiles</p>
	            <p class="text small mb0">Marchant Pereira 726, Providencia, Santiago. Mesa Central 226 545 000</p><img class="mt20" src="img/brand-bar.svg" th:src="@{/img/brand-bar.svg}" alt="" height="15"/>
	          </div>
	        </div>
	      </section>
	    </footer>
	</body>
</html>