<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<nav class="nav blue darken-3" id="nav">
	      <ul class="nav-items align-center">
	        <li class="nav-item"><a class="nav-link" href="inicio.html"  th:href="@{/Inicio}">Inicio</a></li>
	        <li class="nav-item"><a class="nav-link" href="OrdenCompra.html" th:href="@{/OrdenCompra}">Orden de Compra</a></li>
	        <li class="nav-item"><a class="nav-link" href="Recepciones.html"  th:href="@{/Recepciones}">Recepciones</a></li>
	        <li class="nav-item"><a class="nav-link" href="Producto.html"  th:href="@{/Producto}">Productos</a></li>
	        <li class="nav-item"><a class="nav-link" href="Reservas.html"  th:href="@{/Reservas}">Reservas</a></li>
	        <li class="nav-item"><a class="nav-link" href="Servicio.html"  th:href="@{/Servicio}">Servicios</a></li>
	        <li class="nav-item"><a class="nav-link" href="Usuario.html" th:href="@{/Usuario}">Usuarios</a></li>
	        <li class="nav-item"><a class="nav-link" href="Reportes.html" th:href="@{/Reportes}">Reportes</a></li>
	      </ul>
	    </nav>
	</body>
</html>