<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<nav class="nav blue darken-3" id="nav">
	      <ul class="nav-items align-center">
	        <li class="nav-item"><a class="nav-link" href="inicio.html">Inicio</a></li>
	        <li class="nav-item"><a class="nav-link" href="plan_nacional.html">Planificación anual</a></li>
	        <li class="nav-item"><a class="nav-link" href="agendar_visitas.html">Agendar visitas</a></li>
	        <li class="nav-item"><a class="nav-link" href="derivaciones.html">Derivaciones</a></li>
	        <li class="nav-item"><a class="nav-link" href="incumplimientos.html">Incumplimientos</a></li>
	        <li class="nav-item"><a class="nav-link" href="encuestas.html">Encuestas</a></li>
	        <li class="nav-item"><a class="nav-link" href="reportes.html">Reportes</a></li>
	        <li class="nav-item active"><a class="nav-link" href="gestion_usuarios.html" th:href="@{/users}">Usuarios</a></li>
	      </ul>
	    </nav>
	</body>
</html>