<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mb0 center-align relative full">
          <div class="center">
            <div class="col s12 mb20">
              <form class="form" role="form" method="POST" action="/Usuario/CrearUsuario" th:action="@{/Usuario/CrearUsuario}" th:object="${UserViewModel}" accept-charset="UTF-8" autocomplete="off">
              <div class="card-panel pad0">
                <div class="card-content pad24">
                        <div class="col s12 mb10">
        					<h3 class="title small">Crear Usuario</h3>
       					</div>
                  <table class="responsive-table striped">
                    <tbody>
                        <tr>
                            <td>RUT</td>
                            <td><input type="text" id="rut" th:field="*{rut}"/></td>
                        </tr>
                        <tr>
                            <td>NOMBRE</td>
                            <td><input type="text" id="nombre" th:field="*{nombre}" /></td>
                        </tr>
                        <tr>
                            <td>APELLIDO</td>
                            <td><input type="text" id="apellido" th:field="*{apellido}" /></td>
                        </tr>
                        <tr>
                            <td>DIRECCION</td>
                            <td><input type="text" id="direccion" th:field="*{direccion}"/></td>
                        </tr>
                        <tr>
                            <td>TELEFONO</td>
                            <td><input type="text" id="telefono" th:field="*{telefono}"/></td>
                        </tr>
                        <tr>
                            <td>NOMBRE DE USUARIO</td>
                            <td><input type="text" id="username"  th:field="*{username}"/></td>
                        </tr>
                        <tr>
                            <td>CONTRASEÑA</td>
                            <td><input type="password" id="password" th:field="*{password}"/></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="card-action"><button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Usuario</button></div>
              <br/>
              </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</th:block>
</html>
