<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mb0 center-align relative full">
          <div class="center">
            <div class="col s12 mb20">
              <form class="form" role="form" method="POST" action="/Producto/CrearProducto" th:action="@{/Producto/CrearProducto}" th:object="${ProductoViewModel}" accept-charset="UTF-8" autocomplete="off">
              <div class="card-panel pad0">
                <div class="card-content pad24">
                  		<div class="col s12 mb10">
        					<h3 class="title small">Crear Producto</h3>
       					</div>
                  <table class="responsive-table striped">
                    <tbody>
                        <tr>
                            <td>NOMBRE</td>
                            <td><input type="text" id="nombreProducto" th:field="*{nombreProducto}"/></td>
                        </tr>
                        <tr>
                            <td>TIPO</td>
                            <td>
                                <select class="form-control" th:field="*{idTipo}">
                                    <option value="">Seleccion Tipo</option>
                                    <option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.descripcionTipo}" ></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>PRECIO</td>
                            <td><input type="text" id="precioVenta" th:field="*{precioVenta}" /></td>
                        </tr>
                        <tr>
                            <td>STOCK</td>
                            <td><input type="text" id="stock" th:field="*{stock}"/></td>
                        </tr>
                        <tr>
                            <td>STOCK CRITICO</td>
                            <td><input type="text" id="stockCritico" th:field="*{stockCritico}"/></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="card-action"><button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Producto</button></div>
              <br/>
              </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</th:block>
</html>
