<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mt50 mb0">
          <div class="col s12 mb10">
            <h3 class="title small">Gestión de Productos</h3>
          </div>
          <div class="col s12 mb20">
            <div class="card-panel pad0">
              <div class="card-content pad24">
                <h3 class="title mb10 blue-text text-darken-3 mb20">Modificar producto</h3>
                <form class="row mb0" th:action="@{/Producto/ActualizarProducto(id = ${producto.id})}" th:object="${ProductoViewModel}" method="POST">
                  <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">Nombre:</dt>
                      <dd class="def-des" th:text="${producto.nombreProducto}"></dd>
                    </dl>
                  </div>
 					<div class="input-field col s12 m3">
					<input type="text" id="precioVenta" th:field="*{precioVenta}"/>
                    <label>Precio Venta</label>
                  </div>
                   <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">stock:</dt>
                      <dd class="def-des" th:text="${producto.stock}" ></dd>
                    </dl>
                  </div>
                  <div class="input-field col s12 m3">
					<input type="text" id="stockCritico" th:field="*{stockCritico}"/>
                    <label>Stock Critico</label>
                  </div>

                   <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">Tipo Producto</dt>
                      <dd class="def-des" th:text="${producto.getTipoProducto().getDescripcionTipo()}" ></dd>
                    </dl>
                  </div>
                  <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">Familia Producto</dt>
                      <dd class="def-des" th:text="${producto.getTipoProducto().getFamiliaProducto().getDescripcionFamilia()}" ></dd>
                    </dl>
                  </div>
                  <div class="text_right">
                    <button class="waves-effect waves-light btn blue darken-3 mt10" type="submit">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</th:block>
</html>

