<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mt50 mb0">
          <div class="col s12 mb10">
            <h3 class="title small">Gestión de Productos</h3>
          </div>
          <div class="col s12 mb20">
            <div class="card-panel pad0">
              <div class="card-content pad24">
                <h3 class="title mb10 blue-text text-darken-3 mb20">Modificar producto</h3>
                <form class="row mb0" th:action="@{/Producto/ActualizarProducto(id = ${producto.id})}" th:object="${IdViewModel}" method="POST">
                  <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">Nombre:</dt>
                      <dd class="def-des" th:text="${producto.nombreProducto}"></dd>
                    </dl>
                  </div>
                  <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">Precio venta:</dt>
                      <dd class="def-des" th:text="${producto.precioVenta}" ></dd>
                    </dl>
                  </div>
                   <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">stock:</dt>
                      <dd class="def-des" th:text="${producto.stock}" ></dd>
                    </dl>
                  </div>
                    <div class="col s12 m3">
                    <dl class="def">
                      <dt class="def-term">stock critico:</dt>
                      <dd class="def-des" th:text="${producto.stockCritico}" ></dd>
                    </dl>
                  </div>
                  <div class="input-field col s12 m3">
                    <select class="form-control" th:field="*{idTipo}">
                      <option value="">Seleccion Tipo</option>
                      <option th:each="tipo : ${tipos}" th:value="${tipo.id}" th:text="${tipo.descripcionTipo}" ></option>
                    </select>
                    <label>Perfil</label>
                  </div>
                  <div class="col s12 m3 text_right">
                    <button class="waves-effect waves-light btn blue darken-3 mt10" type="submit">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</th:block>
</html>

