<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mb0 center-align relative full">
          <div class="center">
            <div class="col s12 mb20">
              <div class="card-panel pad0">
                <div class="card-content pad24">
                  <div class="mb20"><img class="align-center img_disabled img_responsive" src="img/brand.svg" alt="CREAR SERVICIO" width="170"/></div>
                  <table class="responsive-table striped">
                    <tbody>
                        <tr>
                            <td>Descripción</td>
                            <td type="text" id="descripcionServicio" th:text="${servicio.descripcionServicio}"></td>
                        </tr>
                        <tr>
                            <td>Valor</td>
                            <td><a type="text" id="valor" th:text="${servicio.valor}" /></td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td><a type="text" id="estadoServicio" th:text="${servicio.estadoServicio}"/></td>
                        </tr>
                    </tbody>     
                </table>
                </div>
                  <div class="center-align"> 
                      <a class="btn btn-delete" href="/Servicio" th:href="@{/Servicio}">Volver</a>     
                  </div>
                  
              <br/>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</th:block>
</html>