<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
    <body>
    <main role="main">
      <section class="container">
        <div class="row mt50 mb0">
          <div class="col s12 mb10">
            <h3 class="title small">Gestion de Reservas</h3>
          </div>
          <div class="col s12 mb20">
        	<div class="card-panel pad0">
            	<div class="card-content pad24">
                	<div class="row mb0">
                  		<form class="col s12" th:action="@{/Reserva/LeerUsuario}" th:object="${UserViewModel}" method="GET">
                    		<div class="row mb0">
                      			<div class="input-field col s12 m3 l4">
                        			<input class="validate" id="rut" type="text" th:field="*{rut}" th:required="true"/>
                        			<label for="rut">Ingrese un rut </label>
                      			</div>
                      			<div class="input-field col s12 m3 l4 offset-l4 text_right">
									<button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Reserva usuario</button>
                      			</div>
                    		</div>
                  		</form>
                	</div>
              	</div>
            </div>
		</div>
        </div>
      </section>
    </main>
  </body>
</th:block>
</html>
