<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
	<body>
		    <main role="main">
	     <section class="container">
        <div class="row mt50 mb0">
		<div class="col s12 mb10">
        	<h3 class="title small">Gestión de servicios</h3>
       	</div>
       	<div class="input-field col s12 text_right">
  			<a class="table-btn" href="Servicio/CrearServicio" th:href="@{/Servicio/CrearServicio}"><button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Servicio</button></a>
        </div>
		 <div class="col s12 mb20">
        	<div class="card-panel pad0">
            	<div class="card-content pad24">
                	<div class="row mb0">
                  		<form class="col s12" th:action="@{/Servicio/LeerServicio}" th:object="${ServicioViewModel}" method="GET">
                    		<div class="row mb0">
                      			<div class="input-field col s12 m3 l4">
                        			<input class="validate" id="id" type="text" th:field="*{id}" th:required="true"/>
                        			<label for="id">Ingrese un ID de servicio</label>
                      			</div>
                      			<div class="input-field col s12 m3 l4 offset-l4 text_right">
                                            <a class="table-btn" ><button class="waves-effect waves-light btn blue darken-3" type="submit">Buscar servicio</button></a>	
                      			</div>
                    		</div>
                  		</form>
                	</div>
              	</div>
            </div>
		</div>
        	<div class="col s12 mb20">
            	<div class="card-panel pad0">
              		<div class="card-content pad24">
                		<h3 class="title small mb10">Listado de servicios</h3>
                		<div class="row mb0">
                  			<div class="col s12">
                    			<table class="responsive-table striped">
                      				<thead>
                        				<tr>
                        					<th class="blue-text text-darken-3">ID</th>
				                        	<th class="blue-text text-darken-3">Descripcion</th>
				                          	<th class="blue-text text-darken-3">Valor</th>
				                          	<th class="blue-text text-darken-3">Estado</th>
				                          	<th class="blue-text text-darken-3 text_right">Acciones</th>
                        				</tr>
                      				</thead>
                      				<tbody>
				                        <tr th:each="servicio : ${servicios}">
				                        	<td th:text="${servicio.id}"></td>
				                        	<td th:text="${servicio.descripcionServicio}"></td>
				                          	<td th:text="${servicio.valor}"> </td>
				                          	<td th:text="${servicio.estadoServicio}"></td>
				                          	<td class="text_right">
				                          		<a class="table-btn" href="/Servicio/EditarServicio" th:href="@{/Servicio/EditarServicio(id = ${servicio.getId()})}"><i class="small material-icons blue-text text-darken-3" >create</i></a>
				                          	</td>
				                        </tr>
                      				</tbody>
                    			</table>
                  			</div>
                  		<div class="col s12">
                    		<hr/>
                    		<div class="row mb0">
                      			<div class="col s12 text_center">
                      			</div>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>
    	</div>
    	        </div>
      </section>
    </main>
	</body>
	</th:block>
</html>