<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="master/layout/public">
	<th:block layout:fragment="content">
	<body>
	    <main role="main">
	     <section class="container">
        <div class="row mt50 mb0">
		<div class="col s12 mb10">
        	<h3 class="title small">Gestión de usuarios</h3>
       	</div>
       	<div class="input-field col s12 text_right">
          <a class="table-btn" href="Usuario/CrearUsuario" th:href="@{/Usuario/CrearUsuario}"><button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Usuario</button></a>
        </div>
        <div class="col s12 mb20">
        	<div class="card-panel pad0">
            	<div class="card-content pad24">
                	<div class="row mb0">
                  		<form class="col s12" th:action="@{/Usuario/BuscarUsuario}" th:object="${UserViewModel}" method="POST">
                  		</form>
                  		<form class="col s12" th:action="@{/Usuario/LeerUsuario}" th:object="${UserViewModel}" method="GET">
                    		<div class="row mb0">
                      			<div class="input-field col s12 m3 l4">
                        			<input class="validate" id="rut" type="text" th:field="*{rut}"/>
                        			<label for="rut">Ingrese un rut</label>
                      			</div>
                      			<div class="input-field col s12 m3 l4 offset-l4 text_right">
									<button class="waves-effect waves-light btn blue darken-3" type="submit">Buscar usuario</button>

                                            <a class="table-btn" ><button class="waves-effect waves-light btn blue darken-3" type="submit">Buscar usuario</button></a>	
                      			</div>
                    		</div>
                  		</form>
                	</div>
              	</div>
            </div>
		</div>
        	<div class="col s12 mb20">
            	<div class="card-panel pad0">
              		<div class="card-content pad24">
                		<h3 class="title small mb10">Listado de usuarios</h3>
                		<div class="row mb0">
                  			<div class="col s12">
                    			<table class="responsive-table striped">
                      				<thead>
                        				<tr>
				                        	<th class="blue-text text-darken-3">Rut</th>
				                          	<th class="blue-text text-darken-3">Nombre</th>
				                          	<th class="blue-text text-darken-3">Perfil</th>
				                          	<th class="blue-text text-darken-3 text_right">Acciones</th>
                        				</tr>
                      				</thead>
                      				<tbody>
                      					
				                        <tr th:each="user : ${users}">
				                        	<td th:text="${user.rut}">11.111.111-1</td>
				                          	<td th:text="${user.nombre}">Juan Pérez</td>
				                          	<td th:text="${user.getPerfil().getDetallePerfil()}">Profesional</td>
				                          	
				                          	<td class="text_right"> 
				                          	<form th:action="@{/Usuario/BuscarUsuario}" th:object="${UserViewModel}" method="POST" >
				                          	<button class="waves-effect waves-light btn blue darken-3">Editar</button>
				                          	</form>
				                          	</td>
				                          	<td class="text_right">
				                          		<a class="table-btn" href="/Usuario/EditarUsuario" th:href="@{/Usuario/EditarUsuario(id = ${user.getId()})}"><i class="small material-icons blue-text text-darken-3" >create</i></a>
				                          	</td>
				                        </tr> 
                      				</tbody>
                    			</table>
                  			</div>
                  		<div class="col s12">
                    		<hr/>
                    		<div class="row mb0">
                      			<div class="col s12 text_center">
                        			<ul class="pagination">
                          				<li class="disabled prev"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                          				<li class="active blue darken-3"><a href="#!">1</a></li>
                          				<li class="waves-effect"><a href="#!">2</a></li>
                          				<li class="waves-effect next"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        			</ul>
                        			<br></br>
                        			<a class="table-btn" href="Usuario/CrearUsuario" th:href="@{/Usuario/CrearUsuario}" ><button class="waves-effect waves-light btn blue darken-3" type="submit">Crear Usuario</button></a>
                      			</div>
                        		</div>
                    		</div>
                  		</div>
                	</div>
              	</div>
            </div>
    	</div>
      </section>
    </main>

	</body>
	</th:block>
</html>